$primary-color: #FFFAFA;
$secondary-color: #2589BD;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color:#171B27 ;

$dark-grey: #171B27 ;

$dark-blue-text: #FFFAFA; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;



